{%load static%}

<div class="menu">
    <a aria-current="page" class="d-block text-light p-2" href="/upload/">
      <i class="fa-solid fa-cloud-arrow-up"></i> upload Orders</a>
    <a aria-current="page" class="d-block text-light p-2" href="/order_list/">
      <i class="fa-solid fa-memo-circle-check lead"></i> Orders</a>
    <a aria-current="page" class="d-block text-light p-2" href="/duplicate_order_list/">
      <i class="fa-solid fa-memo-circle-info lead"></i> Duplicate Orders</a>
<a style="color: white;"><hr></a>
<a aria-current="page" class="d-block text-light p-2" href="/location_list/"><i
  class="icon ion-md-business mr-2 lead" lead></i> Locations</a>
<a aria-current="page" class="d-block text-light p-2" href="/employee_list/"> Employees</a>
<a aria-current="page" class="d-block text-light p-2" href="/order_list_location/{{user.username}}"><i
    class="icon ion-md-business mr-2 lead" lead></i> WOs by Location</a>
  <a aria-current="page" class="d-block text-light p-2" href="/order_list_sup/{{user.username}}"><i
      class="icon ion-md-business mr-2 lead" lead></i> WOs by Sup</a>
<!--<a style="color: white;"><hr></a>
<a aria-current="page" class="d-block text-light p-2 {% if app_selected == 7 %} active {% endif %}" href="#"><i
  class="icon ion-md-business mr-2 lead" lead></i> Menu 3</a>
<a style="color: white;"><hr></a>-->
</div>

     


