{%load static%}
{% load humanize %}

<div class="menu">
  <!-- {{ menu | safe }}     -->
  {% if emp.is_superAdmin  or user.is_staff %}
    <a aria-current="page" class="d-block text-light p-2" href="/upload/"><i class="icon ion-md-cloud"></i> upload Orders</a>
    <!--<a aria-current="page" class="d-block text-light p-2" href="/upload_payroll/"><i class="icon ion-md-cloud"></i> upload payroll</a>-->
    {% endif %}
  {% if emp.is_superAdmin  or emp.is_admin or user.is_staff %} 
    <a aria-current="page" class="d-block text-light p-2" href="/order_list/"><i class="icon ion-md-clipboard"></i> Orders</a>
  {% endif %}
  {% if emp.is_superAdmin  or user.is_staff %}
    <a aria-current="page" class="d-block text-light p-2" href="/duplicate_order_list/"><i class="icon ion-md-clipboard"></i> Duplicate Orders</a>
    <a style="color: white;"><hr></a>
  {% endif %} 

{% if emp.is_superAdmin  or user.is_staff %}
    <a aria-current="page" class="d-block text-light p-2" href="/location_list/"><i class="icon ion-md-business mr-2"></i>  Locations</a>
    <a aria-current="page" class="d-block text-light p-2" href="/employee_list/"><i class="icon ion-md-people"></i> Employees</a>
    <a aria-current="page" class="d-block text-light p-2" href="/item_list/"><i class="icon ion-md-pricetags mr-2 lead" lead></i> Items</a>
    <a aria-current="page" class="d-block text-light p-2" href="/vendor_list/"><i class="icon ion-md-barcode"></i> Vendors</a>
    <a aria-current="page" class="d-block text-light p-2" href="/subcontractor_list/"><i class="icon ion-md-barcode"></i> Subcontractor</a>
    <a aria-current="page" class="d-block text-light p-2" href="/internal_po_list/"><i class="icon ion-md-barcode"></i> Internal PO</a>
{% endif %}

{% if emp.is_superAdmin  or emp.is_admin or user.is_staff %} 
  <a aria-current="page" class="d-block text-light p-2" href="/period_list/"><i class="icon ion-md-calendar" lead></i> Periods</a>
{%endif%}


<!-- <a aria-current="page" class="d-block text-light p-2" href="/order_list_location/{{user.username}}">
  <i class="icon ion-md-business mr-2 lead" lead></i> WOs by Location</a> -->

  <a aria-current="page" class="d-block text-light p-2" href="/order_list_sup/"> <i class="icon ion-md-business mr-2 lead" lead></i> WOs by Sup</a>

  <a aria-current="page" class="d-block text-light p-2" href="/payroll/0/0/0/0"><i class="icon ion-md-today mr-2 lead" lead></i>  Payroll</a>
  
<!--<a style="color: white;"><hr></a>
<a aria-current="page" class="d-block text-light p-2 {% if app_selected == 7 %} active {% endif %}" href="#"><i
  class="icon ion-md-business mr-2 lead" lead></i> Menu 3</a>
<a style="color: white;"><hr></a>-->
</div>