{% extends 'index.html' %} 
{%load static%}

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">     
            <div class="col-sm-9 my-3"></div>  
            <div class="col-sm-3 my-3">
                <a class="btn btn-success" href="/create_billing_address/" role="button">Create Billing Address</a>
                <a href="/" type="button" class="btn btn-danger">Close</a> 
            </div>
               
        </div>        
               
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <div class="card-header card-header-wc">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6 class="" >Billing Address List</h6>
                            </div>
                           
                        </div>
                    </div>                 
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-lg-12"> 
                                <table id="orders" class="table table-sm table-bordered table-striped">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col" style="width: 10%">zip code</th>                                                        
                                            <th scope="col" style="width: 20%">State</th>
                                            <th scope="col" style="width: 20%">City</th>     
                                            <th scope="col" style="width: 45%">Address</th>                        
                                            <th scope="col" style="width: 5%"></th>
                                        </tr>               
                                    </thead>
                                    <tbody>                                       
                                        {% for item in addressList %}
                                            <tr>
                                                <td style="width: 10%">{{item.zipCode}}</td>                               
                                                <td style="width: 20%">{{item.state}}</td>
                                                <td style="width: 20%">{{item.city}}</td>     
                                                <td style="width: 45%">{{item.address}}</td> 
                                                <td> <a href="/update_billing_address/{{item.id}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a></td>
                                                
                                            </tr>                                             
                                        {% endfor %}
                                    </tbody>                              
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}