{% extends 'index.html' %} 
{%load static%}
{%load humanize%}
{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Order Details</h6>
                    <div class="card-body">                    
                        <div class="row">                   
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="orderID" class="form-label">Order</label>                                    
                                    <input type="text" name="orderID" id="orderID" class="form-control" value="{{order}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>                                    
                                    <input type="text" name="address" id="address" class="form-control" value="{{order.JobAddress}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="supervisor" class="form-label">Supervisor</label>                                    
                                    <input type="text" name="supervisor" id="supervisor" class="form-control" value="{{order.WCSup}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                        </div>    
                                                                                   
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Location</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Location}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="updatedDate" class="form-label">Updated Date</label>                                                                             
                                    <input type="text" name="updatedDate" id="updatedDate" class="form-control" value="{{order.UploadDate}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="Status" class="form-label">Status</label>                                    
                                    {% if order.Status == "1"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Not Started" disabled>                                                                       
                                    {%elif order.Status == "2"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Work in Progress" disabled>
                                    {%elif order.Status == "3"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Docs" disabled>
                                    {%elif order.Status == "4"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Revised WO" disabled>
                                    {%elif order.Status == "5"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Invoiced" disabled>
                                    {%endif%}                                                                                                                                            
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Comments</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Comments}}" disabled>                                                                       
                                </div>
                            </div>                           
                        </div>                                                                                                        
                        <div class="row">
                            <div class="col-sm-11">
                                <p>{{errorMessage}}</p>
                            </div>
                            <div class="col-sm-1">
                                <a href="/order_detail/{{order.id}}" type="button" class="btn btn-danger">Close</a>
                            </div>
                        </div>
                                
                          
                    </div>
                    
                
                </div>  
            </div> 
        </div>
    </br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card rounded">
                            <h6 class="card-header card-header-wc">Estimate List</h6>
                                <div class="card-body">      
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table  class="table table-sm table-bordered table-striped">
                                                <thead>                                                                        
                                                    <tr class="table-primary">                                                    
                                                        <td  class="p-1">Estimate</td>
                                                        <td  class="p-1">Date Created</td>
                                                        <td  class="p-1">Status</td>
                                                        <!--<td  class="p-1">Total</td>-->                                                                           
                                                        <td  class="p-1">                                              
                                                            
                                                        </td>                                                 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for itemd in estimateList %}
                                                        <tr>
                                                            <td class="p-1">{{itemd.estimateNumber}}</td>
                                                            <td class="p-1">{{itemd.created_date|date:"M d, Y"}}</td>
                                                            <td class="p-1">
                                                                {% if itemd.Status == 1%}
                                                                    Open
                                                                {%elif itemd.Status == 2%}
                                                                    Closed
                                                                {%elif itemd.Status == 3%}
                                                                    Updated
                                                                {%endif%}
                                                            </td>
                                                            <!--<td class="p-1">{{itemd.total}}</td>-->
                                                            <td class="p-1">                                                                            
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="Estimate Preview" hx-get="/estimate_preview/{{order.id}}/{{itemd.estimateNumber}}" hx-target="#dialog"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>    
                                                                &nbsp; <a data-bs-toggle="tooltip" data-bs-placement="top" title="Download Estimate" href="/estimate/{{order.id}}/{{itemd.estimateNumber}}" role="button"><i class="fa-solid fa-download" style="color: green;"></i></a> 
                                                                {% if emp.is_superAdmin  or user.is_staff %}  
                                                                    &nbsp; <a href="/update_estimate/{{order.id}}/{{itemd.estimateNumber}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>
                                                                {%endif%}                                                           
                                                                {% if itemd.Status == 1 %}
                                                                    &nbsp; <a data-bs-toggle="tooltip" data-bs-placement="top" title="Generate Invoice" href="/partial_estimate/{{order.id}}/True/2/0"><i class="fa-solid fa-circle-arrow-right" style="color: green;"></i></a>  
                                                                {%endif%}
                                                            </td> 
                                                        </tr>
                                                    {%endfor%}
                                                </tbody>                                                
                                            </table>
                                            
                                        </div>
                                    </div>   
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card rounded">
                            <h6 class="card-header card-header-wc">Invoice List</h6>
                                <div class="card-body">      
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table  class="table table-sm table-bordered table-striped">
                                                <thead>                                                                        
                                                    <tr class="table-primary">                                                    
                                                        <td  class="p-1">Invoice</td>
                                                        <td  class="p-1">Estimate</td>
                                                        <td  class="p-1">Date Created</td>
                                                        <td  class="p-1">Status</td>
                                                        <!--<td  class="p-1">Total</td>-->                                                                            
                                                        <td  class="p-1">                                              
                                                            
                                                        </td>                                                 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for itemd in invoiceList %}
                                                        <tr>
                                                            <td class="p-1">{{itemd.invoiceNumber}}</td>
                                                            <td class="p-1">{{itemd.estimateNumber}}</td>
                                                            <td class="p-1">{{itemd.created_date|date:"M d, Y"}}</td>
                                                            <td class="p-1">
                                                                {% if itemd.Status == 1%}
                                                                Open
                                                                {%elif itemd.Status == 2%}
                                                                    Closed
                                                                {%elif itemd.Status == 3%}
                                                                    Updated
                                                                {%endif%}
                                                            </td>
                                                            <!--<td class="p-1">{{itemd.total}}</td>-->
                                                            <td class="p-1">                                                                            
                                                                <a hx-get="/invoice_preview/{{order.id}}/{{itemd.invoiceNumber}}" hx-target="#dialog"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>                                                                
                                                                &nbsp; <a data-bs-toggle="tooltip" data-bs-placement="top" title="Download Estimate" href="/invoice/{{order.id}}/{{itemd.invoiceNumber}}" role="button"><i class="fa-solid fa-download" style="color: green;"></i></a>    
                                                                {% if emp.is_superAdmin  or user.is_staff %}  
                                                                    &nbsp; <a href="/update_invoice/{{order.id}}/{{itemd.invoiceNumber}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>
                                                                {%endif%}
                                                            </td> 
                                                        </tr>
                                                    {%endfor%}
                                                </tbody>                                                
                                            </table>
                                        </div>
                                    </div>   
                                </div>
                        </div>
                    </div>
                </div>                                                
                        
                            
                <br/>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card rounded">
                            <h6 class="card-header card-header-wc">Production Available for Billing</h6>
                                <div class="card-body"> 
                                    <div class="row">
                                        <div class="col-sm-11">
                                            {%if order.Status == "2"%}
                                                {%if itemCount > 0%}
                                                    <a class="btn btn-success" hx-get="/estimate_preview/{{order.id}}/0" hx-target="#dialog">Estimate Preview</a>
                                                {%endif%}
                                                {%if order.Status == "2" and openEstimate and itemCount > 0 %}  
                                                    <a class="btn btn-primary" href="/partial_estimate/{{order.id}}/True/1/0">Add to Open Estimate</a>
                                                {%elif order.Status == "2" and openEstimate == False %}
                                                    {%if itemCount > 0%}
                                                        <a class="btn btn-info" hx-get="/select_billing_address/{{order.id}}/True/0" hx-target="#dialog">Partial Invoice</a>
                                                        <a class="btn btn-primary" hx-get="/select_billing_address/{{order.id}}/False/0" hx-target="#dialog">Final Invoice</a>
                                                        <!--<a class="btn btn-info" href="/partial_estimate/{{order.id}}/True/1">Partial Invoice</a>
                                                        <a class="btn btn-primary" href="/partial_estimate/{{order.id}}/False/1" hx-target="#dialog">Final Invoice</a>-->
                                                    {%endif%}
                                                    
                                                {%endif%}       
                                                
                                            {%endif%}
                                        </div>
                                        
                                    </div>  
                                    <br/>                                               
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table  class="table table-sm table-bordered table-striped">
                                                <thead>
                                                    
                                                    <tr class="table-primary" style="border: none;">                                                    
                                                        
                                                        <td width="42%" colspan="2" class="p-1" style="background-color: white; border: none;">                                                           
                                                        </td>
                                                        <td width="7%" colspan="3" class="p-1" style="text-align: center; font-size: medium; font-weight: 600;" ><strong>Production</strong> </td>                                                              
                                                        <td width="7%" colspan="4" class="p-1" style="text-align: center; font-size: medium; font-weight: 600;"><strong>Authorized Billing</strong></td>
                                                                                                       
                                                    </tr>
                                                    <tr class="table-primary" >                                                    
                                                        
                                                        <td width="42%" colspan="2" class="p-1" style="background-color: white; border: none;"></td>
                                                        <td width="7%" class="p-1" style="color:darkblue; font-weight: 600;">{{totals.qtyP}}</td>
                                                        <td width="7%" class="p-1"></td>
                                                        <td width="10%" class="p-1" style="color:darkblue; font-weight: 600;">${{totals.totalP|floatformat:2|intcomma}}</td>  
                                                        <td width="7%" class="p-1" style="color:orangered; font-weight: 600;">{{totals.qtyA}}</td>
                                                        <td width="7%" class="p-1"></td>
                                                        <td width="10%" class="p-1" colspan="2" style="color:orangered; font-weight: 600;">${{totals.totalA|floatformat:2|intcomma}}</td>
                                                                                                       
                                                    </tr>
                                                    <tr class="table-primary">                                                    
                                                        <td width="7%" class="p-1">Item</td>
                                                        <td width="35%" class="p-1">Description</td>
                                                        <td width="7%" class="p-1">Qty.</td>
                                                        <td width="7%" class="p-1">Rate</td>
                                                        <td width="10%" class="p-1">Total</td>  
                                                        <td width="7%" class="p-1">Qty.</td>
                                                        <td width="7%" class="p-1">Rate</td>
                                                        <td width="10%" class="p-1">Total</td>
                                                        <td width="5%" class="p-1">          
                                                            {%if order.Status == "2" or order.Status == "4" %}
                                                                {% if emp.is_superAdmin  or user.is_staff %}                                     
                                                                    <a hx-get="/create_authorized_prod_item/{{order.id}}/0/0" hx-target="#dialog"><i class="fa-solid fa-circle-plus"></i></a>
                                                                {%endif%}
                                                            {%endif%}
                                                        </td>                                                 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for itemd in itemResume %}
                                                        <tr>
                                                            <td class="p-1">{{itemd.item}}</td>
                                                            <td class="p-1">{{itemd.name}}</td>
                                                            
                                                            {% if itemd.quantity == None %}
                                                            
                                                                {% if itemd.transferFrom == None %}
                                                                    <td class="p-1" colspan="3" style="text-align: center; font-weight: 600; color: orangered;"> Not Included in Production</td> 
                                                                {%else%}
                                                                    <td class="p-1" colspan="3" style="text-align: center; font-weight: 500; color: orangered;"> Transfer from {{itemd.transferFrom}}</td> 
                                                                {%endif%}            
                                                            {%else%}
                                                                <td class="p-1" style="color:darkblue; font-weight: 600;">{{itemd.quantity}}</td>
                                                                <td class="p-1" style="color:darkblue; font-weight: 600;">${{itemd.price|floatformat:2|intcomma}}</td>
                                                                <td class="p-1" style="color:darkblue; font-weight: 600;">${{itemd.amount|floatformat:2|intcomma}}</td>  
                                                            {%endif%}
                                                            {% if itemd.quantityA == None %}
                                                                <td class="p-1"></td>
                                                                <td class="p-1"></td>
                                                                <td class="p-1"></td>   
                                                            {%elif  itemd.quantityA == 0 %}
                                                                <td class="p-1" colspan="3" style="text-align: center; font-weight: 600; color: orangered;"> Not Authorized for Billing</td>
                                                            {%else%}
                                                                <td class="p-1" style="color:darkgreen; font-weight: 600;">{{itemd.quantityA}}</td>
                                                                <td class="p-1" style="color:darkgreen; font-weight: 600;">${{itemd.priceA|floatformat:2|intcomma}}</td>
                                                                <td class="p-1" style="color:darkgreen; font-weight: 600;">${{itemd.amountA|floatformat:2|intcomma}}</td> 
                                                            {%endif%}
                                                            <td class="p-1">  
                                                                
                                                                {%if order.Status == "2" or order.Status == "4"%}     
                                                                    {% if emp.is_superAdmin  or user.is_staff %}                                                                     
                                                                        <a hx-get="/update_authorized_prod_item/{{itemd.idA}}/0/0" hx-target="#dialog"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>
                                                                        {%if  itemd.quantityA > 0 %}
                                                                            <a hx-get="/delete_authorized_prod_item/{{itemd.idA}}/0/0" hx-target="#dialog"><i class="fa-solid fa-circle-minus" style="color: red;"></i></a>
                                                                        {%endif%}
                                                                    {%endif%}
                                                                {%endif%}
                                                                <a hx-get="/comment_authorized_prod_item/{{itemd.idA}}" hx-target="#dialog"><i class="fa-solid fa-comment" style="color: green;"></i></a>
                                                            </td> 
                                                        </tr>
                                                    {%endfor%}
                                                </tbody>                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>                                             
          
             
    </form>
</div>
{% endblock %}