{% extends 'base.html' %} 
{%load static%}
{% block title %} Order List {% endblock %} 
{% load humanize %}
{% block container %}
{% load widget_tweaks%}


<div class="container">
    
    <form method='post' action="{{request.path}}" class="modal-content" id="daily_emp" name="daily_emp">
        {% csrf_token %}

        <div class="modal-header">
            <h5>Employees</h5>           
        </div>              
       
        <div class="modal-body">
            <div class="row" id="employees">
                <div class="col-sm-12">                                     
                    <table id="orders" class="table table-sm table-bordered table-striped">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col" style="width: 7%">EID</th>
                                <th scope="col" style="width: 20%">First Name</th>
                                <th scope="col" style="width: 20%">Last Name</th>                                
                                <th scope="col" style="width: 10%">Location</th>                                                     
                                <th scope="col" style="width: 3%"></th>
                            </tr>              
                        </thead>
                        <tbody>   
                           
                            {% for data in empList %}                                
                                <tr>
                                    <td>{{data.employeeID}}</td>
                                    <td>{{data.first_name}}</td>
                                    <td>{{data.last_name}}</td>                                    
                                    <td>{{data.Location}}</td>                                                                  
                                    <td> <a href="#" onclick="selectEmp({{data.employeeID}},'{{data}}')"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a></td>
                                    <!--<td> <a href="/update_employee/{{data.employeeID}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a></td>-->
                                </tr>                                             
                            {% endfor %}
                        </tbody>                              
                    </table>
                </div>
            </div>
            <script>
                function selectEmp(emp, emp_name)
                {
                    console.log("Se Selecciono un Empleado" + emp);

                    var element = document.getElementById("employees");
                    element.style.display = "none";

                    var element2 = document.getElementById("forma");
                    element2.style.display = "block";

                    var element3 = document.getElementById("EmployeeID");
                    element3.value = emp    
                    
                    var element4 = document.getElementById("EmployeeName");
                    element4.value = emp_name    

                }

                $("#orders").DataTable();  
            </script>
            <div id="forma" style="display: none;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="{{ form.DailyID.id_for_label }}" class="form-label">Selected Daily</label>
                            <input type="text" name="DailyID" id="DailyID" class="form-control" disabled>
                            <div class="invalid-feedback">{{ form.DailyID.errors|first }}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="EmployeeName" class="form-label">Employee</label>
                            <!--{% render_field form.EmployeeID class="form-control" id="selEmp"%}-->
                            <input type="text" name="EmployeeName" id="EmployeeName" class="form-control" disabled>
                            <div class="invalid-feedback">{{ form.EmployeeID.errors|first }}</div>                        
                            
                            <input type="hidden" name="EmployeeID" id="EmployeeID">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label for="{{ form.per_to_pay.id_for_label }}" class="form-label">% to pay</label>                  
                            {% if daily.split_paymet %}
                                {% render_field form.per_to_pay|append_attr:"disabled:disabled" class="form-control" %}
                            {% else %}
                                {% render_field form.per_to_pay|append_attr:"required:required" class="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">{{ form.per_to_pay.errors|first }}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label for="{{ form.on_call.id_for_label }}" class="form-label">On Call</label>
                            {% render_field form.on_call class="form-control" %}
                            <div class="invalid-feedback">{{ form.on_call.errors|first }}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label for="{{ form.bonus.id_for_label }}" class="form-label">Bonus</label>
                            {% render_field form.bonus class="form-control" %}
                            <div class="invalid-feedback">{{ form.bonus.errors|first }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="{{ form.start_time.id_for_label }}" class="form-label">Start Time</label>
                            {% render_field form.start_time class="form-control" name="start_time" id="start_time" placeholder="E.g. 800" onchange='setTime()' %}
                            <div class="invalid-feedback">{{ form.start_time.errors|first }}</div>
                        </div>
                    </div>                
                    <div class="col-sm-3">
                        <p id="start_time_text" class="my-5" style="color:darkblue"> 
                        </p>
                    </div>
                    <script>
                        function setTime() {
    
                            if (document.getElementById("start_time").value > 0 && document.getElementById("start_time").value < 100)
                                document.getElementById("start_time").value *=100
    
    
                            const num2time = num => {
                            if (num < 100) num *=100;
                            const [_,hh,mm] = num.toString().match(/(\d{1,2})(\d{2})$/)
                            return `${hh.padStart(2,"0")}:${mm}`
                            }
    
                            if (document.getElementById("start_time").value != '')
                                result = moment(num2time(document.getElementById("start_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time')
                            else
                                result = '--'
    
                            if (document.getElementById("end_time").value != '')
                                result2 = moment(num2time(document.getElementById("end_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time')
                            else
                                result2 = '--'
    
                            if (document.getElementById("start_lunch_time").value != '')    
                                result3 = moment(num2time(document.getElementById("start_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time')
                            else
                                result3 = '--'
                           
                            if (document.getElementById("end_lunch_time").value != '')
                                result4 = moment(num2time(document.getElementById("end_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result4 = '--'
                            
    
                            document.getElementById("start_time_text").innerHTML =  result
    
                            if (result == 'Invalid Time' || result2 == 'Invalid Time' || result3 == 'Invalid Time' || result4 == 'Invalid Time')
                                document.getElementById("save_btn").disabled = true
                            else
                                document.getElementById("save_btn").disabled = false
                          
                        }
                    </script>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="{{ form.start_lunch_time.id_for_label }}" class="form-label">Start Lunch Time</label>
                            {% render_field form.start_lunch_time class="form-control" name="start_lunch_time" id="start_lunch_time" placeholder="E.g. 1200" onchange='setTime3()' %}
                            <div class="invalid-feedback">{{ form.start_lunch_time.errors|first }}</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p id="start_lunch_time_text" class="my-5" style="color:darkblue"> 
                        </p>
                    </div>
                    <script>
                        function setTime3() {
    
                            if (document.getElementById("start_lunch_time").value > 0 
                                && document.getElementById("start_lunch_time").value < 100)
                                document.getElementById("start_lunch_time").value *=100
    
                            const num2time = num => {
                            if (num < 100) num *=100;
                            const [_,hh,mm] = num.toString().match(/(\d{1,2})(\d{2})$/)
                            return `${hh.padStart(2,"0")}:${mm}`
                            }
    
                            if (document.getElementById("start_time").value != '')
                                result = moment(num2time(document.getElementById("start_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result = '--'
    
                            if (document.getElementById("end_time").value != '')
                                result2 = moment(num2time(document.getElementById("end_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result2 = '--'
    
                            if (document.getElementById("start_lunch_time").value != '')    
                                result3 = moment(num2time(document.getElementById("start_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result3 = '--'
    
                            if (document.getElementById("end_lunch_time").value != '')
                                result4 = moment(num2time(document.getElementById("end_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result4 = '--'
    
                            document.getElementById("start_lunch_time_text").innerHTML =  result3
    
                            if (result == 'Invalid Time' || result2 == 'Invalid Time' || result3 == 'Invalid Time' || result4 == 'Invalid Time')
                                document.getElementById("save_btn").disabled = true
                            else
                                document.getElementById("save_btn").disabled = false
    
                        }
                    </script>   
                </div>             
                <div class="row">
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="{{ form.end_lunch_time.id_for_label }}" class="form-label">End Lunch Time</label>
                            {% render_field form.end_lunch_time class="form-control" name="end_lunch_time" id="end_lunch_time" placeholder="E.g. 1400" onchange='setTime4()' %}
                            <div class="invalid-feedback">{{ form.end_lunch_time.errors|first }}</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p id="end_lunch_time_text" class="my-5" style="color:darkblue"> 
                        </p>
                    </div>
                    <script>
                        function setTime4() {
                            if (document.getElementById("end_lunch_time").value > 0
                                && document.getElementById("end_lunch_time").value < 100)
                                document.getElementById("end_lunch_time").value *=100
    
                            const num2time = num => {
                            if (num < 100) num *=100;
                            const [_,hh,mm] = num.toString().match(/(\d{1,2})(\d{2})$/)
                            return `${hh.padStart(2,"0")}:${mm}`
                            }
    
                            if (document.getElementById("start_time").value != '')
                                result = moment(num2time(document.getElementById("start_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result = '--'
    
                            if (document.getElementById("end_time").value != '')
                                result2 = moment(num2time(document.getElementById("end_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result2 = '--'
    
                            if (document.getElementById("start_lunch_time").value != '')    
                                result3 = moment(num2time(document.getElementById("start_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result3 = '--'
                           
                            if (document.getElementById("end_lunch_time").value != '')
                                result4 = moment(num2time(document.getElementById("end_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result4 = '--'
    
                            document.getElementById("end_lunch_time_text").innerHTML =  result4
    
                            if (result == 'Invalid Time' || result2 == 'Invalid Time' || result3 == 'Invalid Time' || result4 == 'Invalid Time')
                                document.getElementById("save_btn").disabled = true
                            else
                                document.getElementById("save_btn").disabled = false
                        }
                    </script>
                     <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="{{ form.end_time.id_for_label }}" class="form-label">End Time</label>
                            {% render_field form.end_time class="form-control" name="end_time" id="end_time" placeholder="E.g. 1700" onchange='setTime2()' %}
                            <div class="invalid-feedback">{{ form.end_time.errors|first }}</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p id="end_time_text" class="my-5" style="color:darkblue"> 
                        </p>
                    </div>
                    <div class="col-sm-1">
                        <div class="mb-3">
                            <label for="{{ form.billableHours.id_for_label }}" class="form-label">Billable Hours</label>
                            {% render_field form.billableHours name="billableHours" id="billableHours" %}
                            <div class="invalid-feedback">{{ form.billableHours.errors|first }}</div>
                        </div>
                    </div>
                    <script>
                        function setTime2() {
                            if (document.getElementById("end_time").value > 0
                                && document.getElementById("end_time").value < 100)
                                document.getElementById("end_time").value *=100
    
                            const num2time = num => {
                            if (num < 100) num *=100;
                            const [_,hh,mm] = num.toString().match(/(\d{1,2})(\d{2})$/)
                            return `${hh.padStart(2,"0")}:${mm}`
                            }
    
                            if (document.getElementById("start_time").value != '')
                                result = moment(num2time(document.getElementById("start_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result = '--'
    
                            if (document.getElementById("end_time").value != '')
                                result2 = moment(num2time(document.getElementById("end_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result2 = '--'
    
                            if (document.getElementById("start_lunch_time").value != '')    
                                result3 = moment(num2time(document.getElementById("start_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time') 
                            else
                                result3 = '--'
                           
                            if (document.getElementById("end_lunch_time").value != '')
                                result4 = moment(num2time(document.getElementById("end_lunch_time").value), 'HH:mm:ss').format('h:mm:ss A').replace('Invalid date','Invalid Time')  
                            else
                                result4 = '--'
    
                            document.getElementById("end_time_text").innerHTML =  result2
    
                            if (result == 'Invalid Time' || result2 == 'Invalid Time' || result3 == 'Invalid Time' || result4 == 'Invalid Time')
                                document.getElementById("save_btn").disabled = true
                            else
                                document.getElementById("save_btn").disabled = false
                         
                        }
                    </script>
                </div>
            </div>
            
                                                                
        </div>
        
        <div class="modal-footer">          
            <button type="submit" class="btn btn-primary" id="save_btn" form="daily_emp">Save</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> 
        </div>
   
    </form>

</div>
{% endblock %}