{% load humanize %}
{% load static %}
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>

    <style>
        @page {
            size: "A4";
            margin: 1.0cm 1.0cm 1.0cm 1.0cm;
        }

      
    </style>
  </head>
  
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="2"><img src="logo.png" width="150"  /></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td width="55%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <img src="http://134.122.27.250/static/media/WC_logo_pdf_4gDtYVC.png">
                                    <!-- <img src="/static/media/WC_logo.png"  height="15%">
                                    <img src="WC_logo.png"  height="15%"> -->
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:15px;">Wiring Connection, Inc.</td>
                            </tr>
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:15px;">1718 W. 139th Street</td>
                            </tr>
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:15px;">Gardena, CA 90249</td>
                            </tr>                            
                            <tr>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:14px;">&nbsp;</td>
                            </tr>
      
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>                                
                            </tr>                          
                        </table>
                    </td>
                </tr>
            </table>
            </td>
          <td width="15%">
        
          </td>
          <td width="30%" align="top">            
            <table width="100%" border="0" cellspacing="0" cellpadding="0">               
            <tr>
                {% if estimate %}
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:800; font-size:30px;"  align="right">Estimate</td>
                {% else %}
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:800; font-size:30px;"  align="right">Invoice</td>
                {% endif %}
            </tr>
            <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">
                    <table border="0">
                        <tr>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding: 3px;" width="45%" align="center">Date</td>
                            {% if estimate %}   
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444; border-right:1px solid #444; padding: 3px;" width="55%" align="center">Estimate #</td>
                            {% else %}
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444; border-right:1px solid #444; padding: 3px;" width="55%" align="center">Invoice #</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding: 3px;"  align="center">{% now "m/d/Y" %}</td>   
                            {% if estimate %}               
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-bottom:1px solid #444; border-right:1px solid #444; padding: 3px;"  align="center"> {{order.pre_invoice}} </td>
                            {% else %}
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-bottom:1px solid #444; border-right:1px solid #444; padding: 3px;"  align="center"> {{order.invoice}}</td>
                            {% endif %}
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right"></td>
              </tr>
              <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"  align="right">&nbsp;</td>
              </tr>
            <tr>
              <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">&nbsp;</td>
            </tr>
            <tr>
              <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">&nbsp;</td>
            </tr>
            
          </table></td>
        </tr>
        <tr>            
            <td style="padding-right: 25px;">
                <table style="border:1px solid #444;" border="0" cellpadding="3" style="width: 80%;">
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:14px;"> Bill To</td>
                    </tr>
                    <tr style="height: 120px;">
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:14px;"> Charter Communications <br>
                            8120 Camino Arroyo<br>
                            Gilroy, CA 95020
                        </td>
                    </tr>
                </table>
            </td>
            <td colspan="2">
                <table style="border:1px solid #444;" border="0" cellpadding="3" style="width: 80%;">
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:14px;"> Project</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:14px;"> {{order.prismID}} {{payroll.address}} </td>
                    </tr>
                </table>
            </td>  

        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="100%" cellspacing="0" cellpadding="0">                    
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="14%" align="center">PO #</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444;  border-right:1px solid #444; padding-top: 3px;" width="14%" align="center">PO Amount</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444;  border-right:1px solid #444; padding-top: 3px;" width="10%"  align="center">Comp. Date</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444;  border-right:1px solid #444; padding-top: 3px;" width="25%"  align="center">Coordinator</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444;  border-right:1px solid #444; padding-top: 3px;" width="12%"  align="center">Work Order</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="13%"  align="center">Const. Type</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #444; border-bottom:1px solid #444;  border-right:1px solid #444; padding-top: 3px;" width="12%"  align="center">PID #</td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" align="center">{{order.PO}}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" align="center">{{order.POAmount}}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;"  align="center">{{order.WorkOrderDate}}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;"  align="center">{{order.ConstCoordinator}}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;"  align="center">{{order.workOrderId}}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;"  align="center">{{order.ConstType}}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;"  align="center">{{order.prismID}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="100%" cellspacing="0" cellpadding="0">                                                                        
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="20%" align="center"><strong>Item</strong></td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="43%" align="center"><strong>Description</strong></td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="12%" align="center"><strong>Qty</strong></td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="13%" align="center"><strong>Rate</strong></td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:100; font-size:10px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="12%" align="center"><strong>Amount</strong></td>
                    </tr>
                    {{ itemPrice | safe }}                
                    <tr>
                        <td style="border-left:1px solid #444; border-right:1px solid #444; border-bottom: 1px solid #444;" width="20%" align="center">&nbsp;</td>
                        <td style="border-left:1px solid #444; border-right:1px solid #444; border-bottom: 1px solid #444;" width="43%" align="center">&nbsp;</td>
                        <td style="border-left:1px solid #444; border-right:1px solid #444; border-bottom: 1px solid #444;" width="12%" align="center">&nbsp;</td>
                        <td style="border-left:1px solid #444; border-right:1px solid #444; border-bottom: 1px solid #444;" width="13%" align="center">&nbsp;</td>
                        <td style="border-left:1px solid #444; border-right:1px solid #444; border-bottom: 1px solid #444;" width="12%" align="center">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
          <td >&nbsp;</td>
          <td >&nbsp;</td>
          <td >
                <table width="100%" cellspacing="0" cellpadding="1">
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:15px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; padding-top: 3px;" height="32"  width="70%"  >Total</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 3px;" height="32" width="28%" align="right"> ${{total|intcomma}}</td>
                      
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:500; font-size:16px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; padding-top: 3px;" height="32" >Payments/Credits</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 3px;" height="32" align="right">$0</td>
                        
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:18px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; padding-top: 3px;" height="32"  width="70%">Balance Due</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 3px;" height="32" width="30%" align="right"> ${{total|intcomma}}</td>
                        
                    </tr>
                </table>
          </td>
        </tr> 
      </table>
  </body>
  </html>