{% extends 'index.html' %} 
{%load static%}
{% load humanize %}
{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h6 class="card-header card-header-wc" >Filters</h6>
                    <div class="card-body">
                        <div class="row"> 
                            <div class="col-lg-2"> 
                                <div class="mb-3">    
                                    <label for="PID" class="form-label">Select Date From</label>                
                                    <div class="input-group mb-3">  
                                        <input type="date" name="date" 
                                            placeholder="mm-dd-yyyy" value=""
                                            min="1997-01-01" max="2030-12-31" class="form-control" required>
                                    </div>       
                                </div>                               
                            </div>    
                            <div class="col-lg-2"> 
                                <div class="mb-3">    
                                    <label for="PID" class="form-label">To</label>                
                                    <div class="input-group mb-3">  
                                        <input type="date" name="date2" 
                                            placeholder="mm-dd-yyyy" value=""
                                            min="1997-01-01" max="2030-12-31" class="form-control" required>
                                    </div>       
                                </div>                               
                            </div>
                            
                            <div class="col-lg-2"> 
                                <div class="mb-3">    
                                    <label for="PID" class="form-label">Status</label>                
                                        <div class="input-group mb-3">   
                                            <select class="form-select" aria-label="Default select example" name="status" id="status"> 
                                            
                                                {%if selectEstatus == "0"%} 
                                                    <option value ="0"  selected >Status</option>
                                                {%else%}
                                                    <option value ="0" >Status</option>
                                                {%endif%}
                                                {%if selectEstatus == "1"%}
                                                    <option value="1" selected>Not Started</option>
                                                {%else%}
                                                    <option value="1" >Not Started</option>
                                                {%endif%}
                                                {%if selectEstatus == "2"%}
                                                    <option value="2" selected>Work in Progress</option>
                                                {%else%}
                                                    <option value="2">Work in Progress</option>
                                                {%endif%}
                                                {%if selectEstatus == "3"%}
                                                    <option value="3" selected>Pending Docs</option>
                                                {%else%}
                                                    <option value="3" >Pending Docs</option>
                                                {%endif%}
                                                {%if selectEstatus == "4"%}
                                                    <option value="4" selected>Pending Revised WO</option>
                                                {%else%}
                                                    <option value="4">Pending Revised WO</option>
                                                {%endif%}
                                                {%if selectEstatus == "5"%}
                                                    <option value="5" selected>Invoiced</option>
                                                {%else%}
                                                    <option value="5">Invoiced</option>
                                                {%endif%}
                                            </select>     
                                        </div> 
                                </div>
                            </div>                 
                        </div>
  
                        <div class="row">
                            
                            <div class="col-lg-5">                                                              
                                <div class="form-outline" style="align-items: center;">
                                    <input class="btn btn-primary" type="submit" value="Search">     
                                    {%if dateSelected%}
                                        <a class="btn btn-primary" href="/get_monthly_report/{{dateSelected|date:'Y-m-d'}}/{{dateSelected2|date:'Y-m-d'}}/{{statusSelected}}" role="button">Download</a>
                                    {%endif%}                       
                                                             
                                </div>
                            </div>
                            <div class="col-lg-1">  
                                <a href="/" type="button" class="btn btn-danger">Close</a>
                            </div>
                        </div> 
                        
                        
                    </div>
                </div>
            </div>
        </div>

  
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <h6 class="card-header card-header-wc" >WO Activities report From {{dateSelected|date:'m-d-Y'}} To {{dateSelected2|date:'m-d-Y'}}  - 
                    {%if statusSelected == "0"%} 
                        All Status
                    {%endif%}
                    {%if statusSelected == "1"%}                       
                         Not Started
                    {%endif%}
                    {%if statusSelected == "2"%}
                        Work in Progress
                    {%endif%}
                    {%if statusSelected == "3"%}
                        Pending Docs
                    {%endif%}
                    {%if statusSelected == "4"%}
                        Pending Revised WO
                    {%endif%}
                    {%if statusSelected == "5"%}
                        Invoiced
                    {%endif%}    
                    </h6>
                    <div class="card-body">
                        <div class="row">                                          
                            <div class="col-lg-12"> 
                                <table id="orders" class="table table-sm table-bordered table-striped">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col" class="p-1">Invoice #</th>                                                                                       
                                            <th scope="col" class="p-1">Entered By</th>    
                                            <th scope="col" class="p-1">WC Supervisor</th>
                                            <th scope="col" class="p-1">Attn To</th>
                                            <th scope="col" class="p-1">System</th>
                                            <th scope="col" class="p-1">Address</th>
                                            <th scope="col" class="p-1">Partial / Final</th>
                                            <th scope="col" class="p-1">PO</th>
                                            <th scope="col" class="p-1">PID</th>
                                            <th scope="col" class="p-1">Total Labor</th>
                                            <th scope="col" class="p-1">Materials</th>
                                            <th scope="col" class="p-1">Invoice Amount</th>                                                                 
                                            <th scope="col" class="p-1">Date</th>  
                                            <th scope="col" class="p-1">% Expenses</th>
                                            <th scope="col" class="p-1">Balance</th>
                                            <th scope="col" class="p-1"></th>  
                                        </tr>              
                                    </thead>
                                    <tbody>                                       
                                        {% for item in woInvoice %}
                                            <tr>                                                                                        
                                                
                                                <td class="p-1">{{item.invoiceNumber}}</td>
                                                <td class="p-1">{{item.createdBy}}</td>
                                                <td class="p-1">{{item.woID.WCSup}}</td>
                                                <td class="p-1">
                                                                {{item.address}}
                                                </td>
                                                <td class="p-1">{{item.woID.Location}}</td>
                                                <td class="p-1">{{item.woID.JobAddress}}</td>
                                                <td class="p-1">{%if item.is_partial%}
                                                                    Partial
                                                                {%else%}
                                                                    Final
                                                                {%endif%}
                                                </td>
                                                <td class="p-1">{{item.woID.PO}}</td>
                                                <td class="p-1">{{item.woID.prismID}}</td>
                                                <td class="p-1">{{item.labor|floatformat:2|intcomma}}</td>
                                                <td class="p-1">{{item.materials|floatformat:2|intcomma}}</td>
                                                <td class="p-1">{{item.total|floatformat:2|intcomma}} </td>
                                                <td class="p-1">{{item.created_date|date:'m-d-Y'}}</td> 
                                                <td class="p-1">{{item.per_expenses|stringformat:"d%%"}}</td> 
                                                <td class="p-1">{{item.balance|floatformat:2|intcomma}}</td> 
                                                <td class="p-1">
                                                    <a hx-get="/invoice_preview/{{item.woID.id}}/{{item.invoiceNumber}}" hx-target="#dialog"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>
                                                </td>
                                            </tr>                                             
                                        {% endfor %}
                                    </tbody>                              
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        
    </form>

    <script>

    </script>
</div>
{% endblock %}