{% extends 'index.html' %} 
{%load static%}
{% load humanize %}
{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h6 class="card-header card-header-wc" >Filters</h6>
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-lg-1">                                                     
                                Select Date
                            </div>
                            <div class="col-lg-2">                           
                                
                                <input type="date" name="date" 
                                placeholder="mm-dd-yyyy" value=""
                                min="1997-01-01" max="2030-12-31" required>
                            </div>
                            <div class="col-lg-8">                                                              
                                <div class="form-outline" style="align-items: center;">
                                    <input class="btn btn-primary" type="submit" value="Search">     
                                    {%if dateSelected%}
                                        <a class="btn btn-primary" href="/get_daily_report/{{dateSelected|date:'Y-m-d'}}" role="button">Download</a>
                                    {%endif%}                       
                                                             
                                </div>
                            </div>
                            <div class="col-lg-1">  
                                <a href="/" type="button" class="btn btn-danger">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <h6 class="card-header card-header-wc" >Daily Report {{dateSelected|date:'m-d-Y'}}</h6>
                    <div class="card-body">
                        <div class="row">                                          
                            <div class="col-lg-12"> 
                                <table id="orders" class="table table-sm table-bordered table-striped">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col" class="p-1">Invoice #</th>                                                                                       
                                            <th scope="col" class="p-1">Entered By</th>    
                                            <th scope="col" class="p-1">WC Supervisor</th>
                                            <th scope="col" class="p-1">Attn To</th>
                                            <th scope="col" class="p-1">System</th>
                                            <th scope="col" class="p-1">Address</th>
                                            <th scope="col" class="p-1">Partial / Final</th>
                                            <th scope="col" class="p-1">PO</th>
                                            <th scope="col" class="p-1">PID</th>
                                            <th scope="col" class="p-1">Invoice Amount</th>                                                                 
                                            <th scope="col" class="p-1">Date</th>  
                                            <th scope="col" class="p-1"></th>  

                                        </tr>              
                                    </thead>
                                    <tbody>                                       
                                        {% for item in woInvoice %}
                                            <tr>                                                                                        
                                                
                                                <td class="p-1">{{item.invoiceNumber}}</td>
                                                <td class="p-1">{{item.createdBy}}</td>
                                                <td class="p-1">{{item.woID.WCSup}}</td>
                                                <td class="p-1">
                                                   
                                                </td>
                                                <td class="p-1">{{item.woID.Location}}</td>
                                                <td class="p-1">{{item.woID.JobAddress}}</td>
                                                <td class="p-1">{%if item.is_partial%}
                                                                    Partial
                                                                {%else%}
                                                                    Final
                                                                {%endif%}
                                                </td>
                                                <td class="p-1">{{item.woID.PO}}</td>
                                                <td class="p-1">{{item.woID.prismID}}</td>
                                                <td class="p-1">{{item.total}} </td>
                                                <td class="p-1">{{item.created_date|date:'m-d-Y'}}</td> 
                                                <td class="p-1">
                                                    <a hx-get="/invoice_preview/{{item.woID.id}}/{{item.invoiceNumber}}" hx-target="#dialog"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>
                                                </td>
                                            </tr>                                             
                                        {% endfor %}
                                    </tbody>                              
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        
    </form>

    <script>

    </script>
</div>
{% endblock %}