{% extends 'index.html' %} 
{%load static%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-11 my-3"></div>
            <div class="col-sm-1 my-3"><a href="/order_detail/{{order.id}}" type="button" class="btn btn-danger">Close</a></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h6 class="card-header card-header-wc" >Link Orders</h6>
                    <div class="card-body">
                        <table class="table table-sm table-striped">  
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>    
                            <tbody>                                                 
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">prismID</th>     
                                        <td>{{order.prismID}}</td>                                             
                                    </tr>  
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white" >work Order</th>       
                                        <td>{{order.workOrderId}}</td>                                             
                                    </tr>  
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">PO</th>       
                                        <td>{{order.PO}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">PO Amount</th>       
                                        <td>{{order.POAmount}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Const Type</th>       
                                        <td>{{order.ConstType}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Const Coordinator</th>       
                                        <td>{{order.ConstCoordinator}}</td>                                             
                                    </tr>                                                    
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Work Order Date</th>      
                                        <td>{{order.WorkOrderDate}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Est Completion</th>      
                                        <td>{{order.EstCompletion}}</td>                                             
                                    </tr>                                       
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Issued By</th>       
                                        <td>{{order.IssuedBy}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Job Name</th>     
                                        <td>{{order.JobName}}</td>                                             
                                    </tr>  
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Job Address</th>    
                                        <td>{{order.JobAddress}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Site Contact Name</th>    
                                        <td>{{order.SiteContactName}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Site Phone Number</th>    
                                        <td>{{order.SitePhoneNumber}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Comments</th>    
                                        <td>{{order.Comments}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Status</th>    
                                        <td>{{order.Status}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Close Date</th>    
                                        <td>{{order.CloseDate}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">WC Sup</th>    
                                        <td>{{order.WCSup}}</td>                                             
                                    </tr>   
                                    <tr>
                                        <th scope="row" class="bg-dark-wc" style="color: white">Upload Date</th>    
                                        <td>{{order.UploadDate}}</td>                                             
                                    </tr>                                                                                      
                            </tbody>                           
                        </table>
                    </div>
                </div>
            </div>
        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card rounded">
                                    <div class="card-body">                    
                                            <div class="row">
                                                
                                            </div>
                                            <div class="row">
                                                <table id="orders"  class="table table-sm table-bordered table-striped">
                                                    <thead class="table-primary">
                                                        <tr>
                                                            <th scope="col">prism ID</th>
                                                            <th scope="col">work Order Id</th>
                                                            <th scope="col">PO</th>
                                                            <th scope="col">PO Amount</th>    
                                                            <th scope="col">Work Order Date</th>
                                                            <th scope="col">Issue By</th>
                                                            <th scope="col">Job Name</th>
                                                            <th scope="col">Job Address</th>
                                                            <th scope="col" style="width: 3%"></th>
                                                        </tr>              
                                                    </thead>
                                                    <tbody>                                       
                                                        {% for manual in manOrders %}
                                                            <tr>
                                                                <td>{{manual.prismID}}</td>
                                                                <td>{{manual.workOrderId}}</td>
                                                                <td>{{manual.PO}}</td>
                                                                <td>{{manual.POAmount}}</td>
                                                                <td>{{manual.WorkOrderDate}}</td>
                                                                <td>{{manual.IssuedBy}}</td>
                                                                <td>{{manual.JobName}}</td>
                                                                <td>{{manual.JobAddress}}</td>
                                                                <td> <a href="/link_order/{{order.id}}/{{manual.id}}"><i class="fa-solid fa-circle-arrow-right" style="color: green;"></i></a></td>                                 
                                                            </tr>                                             
                                                        {% endfor %}
                                                    </tbody>                              
                                                </table>
                                            </div>                    
                                    </div>
                                </div>                 
                            </div>
                        </div>      
    </form>
</div>
{% endblock %}