{% extends 'base_index.html' %} 
{%load static%}
{%block content%}


<body class="img js-fullheight" style="background-image: url({% static '/images/demoApp-bg.jpg'%}); background-repeat: repeat; background-size: cover;">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 border pt-4">
                    <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Login</h3>

                {% if state == 2 %}
                <div class="container">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                </div>

                {% endif %}

                <form action="/login/" class="signin-form" method="post">  
                    {% csrf_token %}               
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                    </div>
                <div class="form-group">
                <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                </div>
               <!--<div class="form-group d-md-flex">
                    <div class="w-50">
                        <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                </div>-->
            </form>
            
            </div>
                </div>
            </div>
        </div>
    </section>
</body>
{%endblock%}