{% extends 'index.html' %} 
{%load static%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <h3>ORDER LIST BY LOCATION - {{emp.Location}}</h3>
            <a style="color: black;"><hr></a>
        </div>              
        <br />
 
    
        <table id="orders" class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">prism ID</th>
                    <th scope="col">work Order Id</th>
                    <th scope="col">PO</th>
                    <th scope="col">PO Amount</th>    
                    <th scope="col">Location</th>
                    <th scope="col">Issued By</th>
                    <th scope="col">Job Name</th>
                    <th scope="col">Job Address</th>
                    <th scope="col"></th>
                </tr>              
            </thead>
            <tbody>                                       
                {% for order in orders %}
                    <tr>
                        <td>{{order.prismID}}</td>
                        <td>{{order.workOrderId}}</td>
                        <td>{{order.PO}}</td>
                        <td>{{order.POAmount}}</td>
                        <td>{{order.Location}}</td>
                        <td>{{order.IssuedBy}}</td>
                        <td>{{order.JobName}}</td>
                        <td>{{order.JobAddress}}</td>
                        <td> <a href="/order/{{order.id}}"><i class="fa-solid fa-circle-arrow-right" style="color: green;"></i></a></td>
                    </tr>                                             
                {% endfor %}
            </tbody>                              
        </table>
    </form>
</div>
{% endblock %}