{% extends 'index.html' %} 
{%load static%}
{%load humanize%}
{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Order Details</h6>
                    <div class="card-body">                    
                        <div class="row">                   
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="orderID" class="form-label">Order</label>                                    
                                    <input type="text" name="orderID" id="orderID" class="form-control" value="{{order}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>                                    
                                    <input type="text" name="address" id="address" class="form-control" value="{{order.JobAddress}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="supervisor" class="form-label">Supervisor</label>                                    
                                    <input type="text" name="supervisor" id="supervisor" class="form-control" value="{{order.WCSup}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                        </div>    
                                                                                   
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Location</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Location}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="updatedDate" class="form-label">Updated Date</label>                                                                             
                                    <input type="text" name="updatedDate" id="updatedDate" class="form-control" value="{{order.UploadDate}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="Status" class="form-label">Status</label>                                    
                                    {% if order.Status == "1"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Not Started" disabled>                                                                       
                                    {%elif order.Status == "2"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Work in Progress" disabled>
                                    {%elif order.Status == "3"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending D                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Revised WO" disabled>
                                    {%elif order.Status == "5"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Invoiced" disabled>
                                    {%endif%}                                                                                                                                            
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Comments</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Comments}}" disabled>                                                                       
                                </div>
                            </div>                           
                        </div>             
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                                                                          
                                </div>
                            </div>                           
                        </div>                                                                                             
                        <div class="row">
                            <div class="col-sm-7">
                                
                            </div>
                            <div class="col-sm-4">
                                
                                <button hx-get="/wo_comment_log/{{order.id}}/{{isSupervisor}}" class="btn btn-success py-2" hx-target="#dialog" > Add Comment Log</button>
                                <button hx-get="/get_wo_comment_log/{{order.id}}" class="btn btn-primary py-2" hx-target="#dialog" > Comment Log</button>
                            </div>
                            <div class="col-sm-1">
                                <a href="/order_list/" type="button" class="btn btn-danger">Close</a>
                            </div>
                        </div>
                                
                          
                    </div>
                    
                
                </div>  
            </div> 
        </div>  
        <br>
        <div class="row">
            <div class="col-lg-4">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Manage</h6>
                    <div class="card-body">   
                        <div class="row">
                            <div class="col-lg-12">
                                {% if order.Status != "5" %}      
                                    {% if isSupervisor == "False" %}   
                                        <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Order" href="/order/{{order.id}}"><i class="fa-solid fa-pen-to-square fa-2x m-2" style="color: white;"></i></br> Edit</a>
                                    {% endif %}
                                    {% if order.uploaded and order.linkedOrder is null and isSupervisor == "False" %}                                                    
                                        <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Link Order" href="/link_order_list/{{order.id}}"><i class="fa-solid fa-link fa-2x m-2" style="color: white;"></i></br> Link Order</a>                
                                    {% endif %}                                
                                {% endif %} 

                                <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Status Log" href="/status_log/{{order.id}}/{{isSupervisor}}"><i class="fa-solid fa-clock-rotate-left fa-2x m-2" style="color: white;"></i></br>Status Log</a> 
                            </div>
                        </div>     

                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Expenses</h6>
                    <div class="card-body">        
                        {%if order.Status >= "2" and order.Status <= "5"%} 
                            <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Internal PO" href="/po_list/{{order.id}}"><i class="fa-solid fa-cart-shopping fa-2x m-2" style="color: white;"></i></br>Internal PO</a> 
                            <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="External Production" href="/external_prod_list/{{order.id}}"><i class="fa-solid fa-circle-plus fa-2x m-2" style="color: white;"></i></br>Ext. Production</a>  
                        {%endif%}
                        {%if order.Status >= "2" %}                                                    
                            <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Payroll Detail" href="/payroll_detail/{{order.id}}"><i class="fa-solid fa-file fa-2x m-2" style="color: white;"></i></br>Payroll Detail</a>                                                                                                                 
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Billing</h6>
                    <div class="card-body">        
                        {%if order.Status >= "2" and order.Status <= "5"%}    
                            <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Billing Detail" href="/billing_list/{{order.id}}/False"><i class="fa-solid fa-calculator fa-2x m-2" style="color: white;"></i></br>Billing</a>                                                
                            <!--<a data-bs-toggle="tooltip" data-bs-placement="top" title="Authorized Billing" href="/authorized_billing_list/{{order.id}}"><i class="fa-solid fa-money-check-dollar" style="color: green;"></i></a> -->                                                                                                                
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}