{% extends 'index.html' %} 
{%load static%}
{% block title %} Work Order {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' action="{{request.path}}" enctype="multipart/form-data">
        {% csrf_token %}      
        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Work Order</h6>
                    <div class="card-body">                    
                            <div class="row">
                                <div class="col-sm-12">
                                    <table>
                                        {{ form.as_table }}   
                                    </table>
                                </div>                                                         
                                                          
                            </div>
                            <div class="row">
                                <div class="col-lg-6">  
                                    <div class="form-outline" style="align-items: center;">
                                        <input class="btn btn-primary" type="submit" value="Save">
                                        <a href="/order_list_sup/" type="button" class="btn btn-danger">Close</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>                 
            </div>
        </div>      
    </form>
</div>
{% endblock %}