{% extends 'index.html' %} 
{%load static%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <h3>ORDER LIST</h3>
            <a style="color: black;"><hr></a>
        </div>
        
        <br />
        <div class="row">
            <div class="col-lg-6">  
                <div class="form-outline" style="align-items: center;">
                    <a class="btn btn-success" href="/create_order/" role="button">Create New Order</a>
                </div>
            </div>
        </div>                
        <br />
 
    
        <table id="orders" class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">prism ID</th>
                    <th scope="col">work Order Id</th>
                    <th scope="col">PO</th>
                    <th scope="col">PO Amount</th>    
                    <th scope="col">Work Order Date</th>
                    <th scope="col">Issue By</th>
                    <th scope="col">Job Name</th>
                    <th scope="col">Job Address</th>
                    <th scope="col" style="width: 3%"></th>
                    <th scope="col" style="width: 3%"></th>
                </tr>              
            </thead>
            <tbody>                                       
                {% for order in orders %}
                    <tr>
                        <td>{{order.prismID}}</td>
                        <td>{{order.workOrderId}}</td>
                        <td>{{order.PO}}</td>
                        <td>{{order.POAmount}}</td>
                        <td>{{order.WorkOrderDate}}</td>
                        <td>{{order.IssuedBy}}</td>
                        <td>{{order.JobName}}</td>
                        <td>{{order.JobAddress}}</td>
                        <td> <a href="/order/{{order.id}}"><i class="fa-solid fa-circle-arrow-right" style="color: green;"></i></a></td>
                        {% if order.uploaded and order.linkedOrder is null %}
                            <td> <a href="/link_order_list/{{order.id}}"><i class="fa-solid fa-link" style="color: green;"></i></a> </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>                                             
                {% endfor %}
            </tbody>                              
        </table>
    </form>
</div>
{% endblock %}