{% extends 'index.html' %} 
{%load static%}
{%load humanize%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">      
            <div class="col-sm-11 my-3"></div>  
            <div class="col-sm-1 my-3">                
                <a href="/order_detail/{{order.id}}/{{emp.is_supervisor}}" type="button" class="btn btn-danger">Close</a> 
            </div>
               
        </div>
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <div class="card-header card-header-wc">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6 class="" >Order Detail</h6>
                            </div>
                           
                        </div>
                    </div>                 
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="orderID" class="form-label">Order</label>                                    
                                    <input type="text" name="orderID" id="orderID" class="form-control" value="{{order}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>                                    
                                    <input type="text" name="address" id="address" class="form-control" value="{{order.JobAddress}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="supervisor" class="form-label">Supervisor</label>                                    
                                    <input type="text" name="supervisor" id="supervisor" class="form-control" value="{{order.WCSup}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                        </div>                                <div class="row">                                             
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Location</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Location}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="updatedDate" class="form-label">Updated Date</label>                                                                             
                                    <input type="text" name="updatedDate" id="updatedDate" class="form-control" value="{{order.UploadDate}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="Status" class="form-label">Status</label>                                    
                                    {% if order.Status == "1"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Not Started" disabled>                                                                       
                                    {%elif order.Status == "2"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Work in Progress" disabled>
                                    {%elif order.Status == "3"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Docs" disabled>
                                    {%elif order.Status == "4"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Revised WO" disabled>
                                    {%elif order.Status == "5"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Invoiced" disabled>
                                    {%endif%}                                                                                                                                            
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Comments</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Comments}}" disabled>                                                                       
                                </div>
                            </div>                           
                        </div> 
                        <div class="row">                                             
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label for="POAmount" class="form-label">PO Amount</label>                                    
                                    <input type="text" name="POAmount" id="POAmount" class="form-control" value="${{order.POAmount|floatformat:2|intcomma}}" disabled> 
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">                                    
                                    <label for="expenses" class="form-label">Expenses</label>                                    
                                    <input type="text" name="expenses" id="expenses" class="form-control" value="${{totalExp|floatformat:2|intcomma}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">                                    
                                    <label for="balance" class="form-label">Balance</label>                                    
                                    <input type="text" name="balance" id="balance" class="form-control" value="${{balance|floatformat:2|intcomma}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label for="balance_per" class="form-label">% Balance</label>                                    
                                    <input type="text" name="balance_per" id="balance_per" class="form-control" value="{{balance_per|floatformat:2|intcomma}}%" disabled>                                                                       
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-wc">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="" >Expenses Details</h6>
                            </div>
                           
                        </div>
                    </div>                 
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-lg-12"> 
                                Payroll
                                <table id="orders2" class="table table-sm table-bordered table-striped">
                                    <thead>
                                        <tr class="table-primary"> 
                                            <td class="p-1">Period</td> 
                                            <td class="p-1">daily day</td>                                                
                                            <td class="p-1">empID</td>
                                            <td class="p-1">Name</td>
                                            <td class="p-1">Payout</td>
                                            <td calss="p-1">Daily</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for item in payroll%}
                                        <tr>
                                            <td>{{item.period}}</td>
                                            <td>{{item.day}}</td>
                                            <td>{{item.empID}}</td>
                                            <td>{{item.empName}}</td>
                                            <td>${{item.payout|floatformat:2|intcomma}}</td>
                                            <td>
                                                <a href="/static/media/{{item.pdf}}" target="_blank"> <i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a> 
                                                
                                            </td>
                                        </tr>
                                        {%endfor%}
                                        {% if payrollTotal > 0%}
                                            <tr>
                                                <td colspan="4"> Total</td>
                                                
                                                <td><strong>${{payrollTotal|floatformat:2|intcomma}}</strong></td>
                                            </tr>
                                        {%endif%}
                                    </tbody>
                                </table>                    
                                
                            </div>
                        </div>
                        <br/>
                        <div class="row">                   
                            <div class="col-lg-12"> 
                                External Production
                                <table id="orders2" class="table table-sm table-bordered table-striped">
                                    <thead>
                                        <tr class="table-primary"> 
                                            <td class="p-1">Invoice</td> 
                                            <td class="p-1">invoice Date</td>                                                
                                            <td class="p-1">Subcontractor</td>
                                            <td class="p-1">Total</td>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for item in extProduction%}
                                        <tr>
                                            <td>{{item.invoiceNumber}}</td>
                                            <td>{{item.invoice_date}}</td>
                                            <td>{{item.subcontractor}}</td>
                                            <td>${{item.total_invoice|floatformat:2|intcomma}}</td>
                                        </tr>
                                        {%endfor%}
                                        {% if epTotal > 0%}
                                            <tr>
                                                <td colspan="3"> Total</td>
                                                
                                                <td><strong>${{epTotal|floatformat:2|intcomma}}</strong></td>
                                            </tr>
                                        {%endif%}
                                    </tbody>
                                </table>                    
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12"> 
                                Production Transfer To Another WO
                                <table id="orders2" class="table table-sm table-bordered table-striped">
                                    <thead>
                                        <tr class="table-primary"> 
                                            <td class="p-1">Item</td> 
                                            <td class="p-1">Transfer To</td>                                                
                                            <td class="p-1">Quantity</td>
                                            <td class="p-1">Total</td>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for item in prodTransferTo%}
                                        <tr>
                                            <td>{{item.itemID.item.name}}</td>
                                            <td>{{item.woID}}</td>
                                            <td>{{item.transferQty}}</td>
                                            <td>${% widthratio item.itemID.price 1 item.transferQty%}</td>
                                           
                                        </tr>
                                        {%endfor%}
                                        {% if pttTotal > 0%}
                                            <tr>
                                                <td colspan="3"> Total</td>
                                                
                                                <td><strong>${{pttTotal|floatformat:2|intcomma}}</strong></td>
                                            </tr>
                                        {%endif%}
                                    </tbody>
                                </table>                    
                                
                            </div>
                        </div>
                        <br/>     
                        
                        <div class="row">
                            <div class="col-lg-12"> 
                                Production Transfer From Another WO
                                <table id="orders2" class="table table-sm table-bordered table-striped">
                                    <thead>
                                        <tr class="table-primary"> 
                                            <td class="p-1">Item</td> 
                                            <td class="p-1">Transfer To</td>                                                
                                            <td class="p-1">Quantity</td>
                                            <td class="p-1">Total</td>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for item in prodTransferFrom%}
                                        <tr>
                                            <td>{{item.itemID.item.name}}</td>
                                            <td>{{item.TransferFrom}}</td>
                                            <td>{{item.transferQty}}</td>
                                            <td>${% widthratio item.itemID.price 1 item.transferQty%}</td>
                                           
                                        </tr>
                                        {%endfor%}
                                        {% if ptfTotal > 0%}
                                            <tr>
                                                <td colspan="3"> Total</td>
                                                
                                                <td><strong>${{ptfTotal|floatformat:2|intcomma}}</strong></td>
                                            </tr>
                                        {%endif%}
                                    </tbody>
                                </table>                    
                                
                            </div>
                        </div>
                        <br/>  
                            <div class="row">
                                <div class="col-lg-12">
                                    Internal POs
                                    <table id="order" class="table table-sm table-bordered table-striped">
                                        <thead class="table-primary">
                                            <tr>
                                                <td class="p-1">PO</td>                                                
                                                <th scope="p-1">Vendor</th>
                                                <td class="p-1">Supervisor</td>                                                
                                                <td class="p-1">Pick up Employee</td>
                                                <td class="p-1">Product</td>    
                                                <td class="p-1">Quantity</td>
                                                <td class="p-1">Total</td>                                            
                                            </tr>              
                                        </thead>
                                        <tbody>                                       
                                            {% for po in po %}
                                                <tr>
                                                    <td>{{po.poNumber}}</td>
                                                    <td>{{po.vendor}} - 
                                                        {%for i in vendorList%}
                                                            {%if po.vendor == i.id%}
                                                                {{i.name}}                                                    
                                                            {%endif%}
                                                        {%endfor%}
                                                    </td>
                                                    <td>{{po.supervisor}}</td>
                                                    <td>{{po.pickupEmployee}}</td>
                                                    <td>{{po.product}}</td>
                                                    <td>{{po.quantity}}</td>
                                                    <td>${{po.total|floatformat:2|intcomma}}</td>                                                                                                
                                                </tr>                                             
                                            {% endfor %}
                                            {% if poTotal > 0%}
                                            <tr>
                                                <td colspan="6"> Total</td>
                                                
                                                <td><strong>${{poTotal|floatformat:2|intcomma}}</strong></td>
                                            </tr>
                                            {%endif%}
                                        </tbody>                              
                                    </table>
                                </div>
                                
                            </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}