{% extends 'base.html' %}
{%load static%}
{% block title %} Order List {% endblock %}
{% load humanize %}
{% block container %}

<div class="container">
    <form method='post' action="{{request.path}}" class="modal-content" id="daily_emp">
        {% csrf_token %}

        <div class="modal-header">
            <h5>Internal PO Pending</h5>
        </div>

        <div class="modal-body">
            <div class="row">
                <h5>There are 1 or more Internal PO with value 0 that will not be processed. Are you sure to continue?
                </h5>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table  class="table table-sm table-bordered table-striped">
                        <thead>                            
                            <tr class="table-primary">                                                    
                                <td width="7%" class="p-1">PO Number</td>
                                <td width="35%" class="p-1">Product</td>
                                <td width="7%" class="p-1">Qty.</td>                                    
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in poList %}
                                <tr>
                                    <td class="p-1">{{item.poNumber}}</td>
                                    <td class="p-1">{{item.Product}}</td>
                                    <td class="p-1">{{item.Quantity}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>                                                
                    </table>
                </div>                                           
            </div>  
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" form="daily_emp">Continue</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>

    </form>
</div>
{% endblock %}