{% extends 'index.html' %} 
{%load static%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}   

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h6 class="card-header card-header-wc" >Period List</h6>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="orders" class="table  table-bordered table-striped">
                                    <thead>
                                        <tr class="table-primary">                                                  
                                            <th scope="col" style="width: 5%">Id</th>
                                            <th scope="col" style="width: 10%">year</th>
                                            <th scope="col" style="width: 20%">from Date</th>
                                            <th scope="col" style="width: 20%">to Date</th>
                                            <th scope="col" style="width: 20%">pay Date</th>
                                            <th scope="col" style="width: 20%">week Range</th>
                                            <th scope="col" style="width: 5%"></th>                                   
                                        </tr>
                                    </thead>
                                    <tbody>                                       
                                        {% for item in period %}
                                            <tr>
                                                <td>{{item.periodID}}</td>
                                                <td>{{item.periodYear}}</td>
                                                <td>{{item.fromDate}}</td>
                                                <td>{{item.toDate}}</td>
                                                <td>{{item.payDate}}</td>
                                                <td>{{item.weekRange}}</td>
                                                 <td> 
                                                    <a href="/location_period_list/{{item.id}}">
                                                        <i class="fa-solid fa-circle-arrow-right" style="color: green;"></i>
                                                    </a>
                                                </td>
                                            </tr>                                             
                                        {% endfor %}
                                    </tbody>                                      
                                </table>
                            </div>
                        </div>                                                
                    </div>
                </div> 
            </div>       
    </form>
</div>
{% endblock %}