{% extends 'index.html' %} 
{%load static%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        

        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Internal PO</h6>
                    <div class="card-body">                    
                        <div class="row">                   
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="orderID" class="form-label">Order</label>                                    
                                    <input type="text" name="orderID" id="orderID" class="form-control" value="{{order}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>                                    
                                    <input type="text" name="address" id="address" class="form-control" value="{{order.JobAddress}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="supervisor" class="form-label">Supervisor</label>                                    
                                    <input type="text" name="supervisor" id="supervisor" class="form-control" value="{{order.WCSup}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                        </div>    
                                                                                   
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Location</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Location}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="updatedDate" class="form-label">Updated Date</label>                                                                             
                                    <input type="text" name="updatedDate" id="updatedDate" class="form-control" value="{{order.UploadDate}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="Status" class="form-label">Status</label>                                    
                                    {% if order.Status == "1"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Not Started" disabled>                                                                       
                                    {%elif order.Status == "2"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Work in Progress" disabled>
                                    {%elif order.Status == "3"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending D                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Revised WO" disabled>
                                    {%elif order.Status == "5"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Invoiced" disabled>
                                    {%endif%}                                                                                                                                            
                                </div>
                            </div>
                        </div>  
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Comments</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Comments}}" disabled>                                                                       
                                </div>
                            </div>                           
                        </div>            
                       
                            <br/>
                            <div class="row">
                                <div class="col-lg-6">  
                                    <div class="form-outline" style="align-items: center;">                                                                               
                                        {%if emp.is_supervisor == False and order.Status != "5" %}
                                            <a class="btn btn-success" href="/create_po/{{order.id}}/0" role="button">Add PO</a>
                                        {%endif%}

                                        <a href="/order_detail/{{order.id}}/{{emp.is_supervisor}}" type="button" class="btn btn-danger">Close</a> 
                                    </div>
                                </div>
                            </div>   
                            <br/>           
                            <div class="row">
                                <table id="orders" class="table table-sm table-bordered table-striped">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">PO</th>                                            
                                            <th scope="col">Vendor</th>
                                            <th scope="col">Supervisor</th>
                                            <th scope="col">Pick up Employee</th>
                                            <th scope="col">Product</th>  
                                            <th scope="col">Non-Billable</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                            <th scope="col" style="width: 3%"></th>
                                        </tr>              
                                    </thead>
                                    <tbody>                                       
                                        {% for po in po %}
                                            <tr>                                                
                                                <td>{{po.poNumber}}</td>
                                                <td>{{po.vendor}} - 
                                                    {%for i in vendorList%}
                                                        {%if po.vendor == i.id%}
                                                            {{i.name}}                                                    
                                                        {%endif%}
                                                    {%endfor%}
                                                </td>
                                               
                                                <td>{{po.supervisor}}</td>
                                                <td>{{po.pickupEmployee}}</td>
                                                <td>{{po.product}}</td>
                                                <td>{{po.nonBillable}}</td>
                                                <td>{{po.quantity}}</td>
                                                <td>{{po.total}}</td>                                                
                                                <td> <a href="/update_po/{{po.id}}/{{order.id}}/0"><i class="fa-solid fa-circle-arrow-right" style="color: green;"></i></a></td>                                 
                                            </tr>                                             
                                        {% endfor %}
                                    </tbody>                              
                                </table>
                            </div>                    
                    </div>
                </div>                 
            </div>
        </div>      
    </form>
</div>
{% endblock %}