{% extends 'index.html' %} 
{%load static%}
{% load humanize %}
{% block title %} CREATE ITEMS {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-8" >
                 <img src="http://134.122.27.250/static/media/WC_logo.png" height="15%" alt="WC Logo">
                <p>     
                    <h3>
                        Wiring Connection, Inc.<br>
                        1718 W. 139th Street<br>
                        Gardena, CA 90249<br>        
                    </h3>                                
                </p>
            </div>
            <div class="col-lg-4" >
                <div class="row d-flex justify-content-end">
                    <div class="col-lg-12">
                        <p align="right">
                            <h2>
                                {% if estimate %}
                                    <strong>Estimate</strong>  
                                {% else %}
                                    <strong>Invoice</strong>  
                                {% endif %}
                                 
                            </h2>                                         
                        </p> 
                    </div>                    
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-lg-12">
                        <table class="table table-sm table-bordered text-center">
                            <tr>
                                <td>
                                    Date
                                </td>
                                <td>
                                    {% if estimate %}
                                        Estimate #
                                    {% else %}
                                        Invoice #
                                    {% endif %}
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% now "m/d/Y" %}
                                </td>
                                <td>
                                    ####
                                </td>
                            </tr>
                        </table>
                    </div>                    
                </div>                
            </div>           
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <p> Bill To </p> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Charter Communications <br>
                                8120 Camino Arroyo <br>
                                Gilroy, CA 95020
                            </p>
                        </td>                        
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 align-middle">
                <table class="table table-sm table-bordered">
                    <tr>
                        <td>
                            <p> Project </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                {{order.prismID}} {{payroll.address}}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>    
        <div class="row">
            <div class="col-lg-12"></div>
        </div>  
        <div class="row">
            <div class="col-lg-12"></div>
        </div>  
        <div class="row" >
            <div class="col-lg-12 ">
                <table class="table table-sm table-bordered align-top" style = "margin: 0px !important; padding: 0px !important;">
                    <tr>
                        <td style="width: 14%; align-content: center;">PO#</td>
                        <td style="width: 14%; align-content: center;">PO Amount</td>
                        <td style="width: 10%; align-content: center;">Comp. Date</td>
                        <td style="width: 25%; align-content: center;">Coordinator</td>
                        <td style="width: 12%; align-content: center;">Work Order</td>
                        <td style="width: 13%; align-content: center;">Const. Type</td>
                        <td style="width: 12%; align-content: center;">PID #</td>
                    </tr>
                    <tr style="margin: 0px !important; padding: 0px !important;">
                        <td>{{order.PO}}</td>
                        <td>999999.99</td>
                        <td>{{order.WorkOrderDate}}</td>
                        <td>{{order.ConstCoordinator}}</td>
                        <td>{{order.workOrderId}}</td>
                        <td>{{order.ConstType}}</td>
                        <td>{{order.prismID}}</td>
                    </tr>
                </table>
                <table class="table table-sm table-bordered align-top" style="margin: 0px !important; padding: 0px !important;">
                    <tr style="background-color: #e9e9e9;">
                        <td style="width: 20%" class="align-middle"><strong>Item</strong></td>
                        <td style="width: 43%" class="align-middle"><strong>Description</strong></td>
                        <td style="width: 12%" class="align-middle"><strong>Qty</strong></td>
                        <td style="width: 13%" class="align-middle"><strong>Rate</strong></td>
                        <td style="width: 12%" class="align-middle"><strong>Amount</strong></td>
                    </tr>                        
                    <tr class="align-top" style="height: 400px;">
                        <td class="align-top" colspan="5" style="margin: 0px !important; padding: 0px !important;">
                            <table class="table table-sm table-bordered align-top">
                                <tbody>
                                    {{ itemPrice | safe }}  
                                    <!-- {% for item in items %}
                                        <tr>
                                            <td style="width: 20%">{{item.item}}</td>
                                            <td style="width: 43%"></td>
                                            <td style="width: 12%">{{item.quantity}}</td>
                                            <td style="width: 13%"></td>
                                            <td style="width: 12%"></td>
                                        </tr>        
                                    {% endfor %}                             -->
                                </tbody>  
                            </table>   
                        </td>                           
                    </tr>   
                </table>   
            </div>            
        </div>  
        <div class="row" style = "margin: 0px !important; padding: 0px !important;">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4" style = "margin: 0px !important; padding: 0px !important;">
                <table class="table table-bordered" style = "margin: 0px !important; padding: 0px !important;">
                    <tr>
                        <td>
                            <h5>Total</h5>
                        </td>
                        <td>
                            <h5>${{total|intcomma}}</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style = "margin: 0px !important; padding: 0px !important;">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4" style = "margin: 0px !important; padding: 0px !important;">
                <table class="table table-bordered" style = "margin: 0px !important; padding: 0px !important;">
                    <tr>
                        <td>
                            <h4>Payments/Credits</h4>
                        </td>
                        <td>
                            <h5>$0</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style = "margin: 0px !important; padding: 0px !important;">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4" style = "margin: 0px !important; padding: 0px !important;">
                <table class="table table-bordered" style = "margin: 0px !important; padding: 0px !important;">
                    <tr>
                        <td>
                            <h3>Balance Due</h3>
                        </td>
                        <td>
                            <h5>${{total|intcomma}}</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">  
                <div class="form-outline" style="align-items: center;">
                    <br>
                    {% if estimate %}
                        <a class="btn btn-success" href="/estimate/{{order.id}}" role="button">Download Estimate</a>
                    {% else %}
                        <a class="btn btn-success" href="/invoice/{{order.id}}" role="button">Download Invoice</a>
                    {% endif %}
                </div>
            </div>
        </div>           
    </form>
</div>
{% endblock %}