{% load humanize %}
{% load static %}
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>

    <style>
        @page {
            size: "A4";
            margin: 1.0cm 1.0cm 1.0cm 1.0cm;
        }

      
    </style>
  </head>
  
  <body>
    <table width="100%" border="0">
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:350; font-size:12px; border-top:1px solid #555; border-bottom:0.5px solid #999; border-left:1px solid #444; border-right:1px solid #444; padding: 3px;" width="100%" align="center">
                <strong>Payroll Recap</strong> 
            </td>
        </tr>
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #444; border-right:1px solid #999; padding-top: 2px;" width="19%" align="center">
                            <strong>weeks</strong>   
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 2px;" width="20%" align="center">
                            {{period.weekRange}}   
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 2px;" width="8%" align="center">
                            <strong>From</strong>    
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 2px;" width="15%" align="center">
                            {{period.fromDate|date:"SHORT_DATE_FORMAT"}}  
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 2px;" width="8%" align="center">
                            <strong>To</strong>    
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 2px;" width="15%" align="center">
                            {{period.toDate|date:"SHORT_DATE_FORMAT"}} 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 2px;" width="7%" align="center">
                            <strong>Pay Date</strong>    
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:0.5px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #444; padding-top: 2px;" width="8%" align="center">
                            {{period.payDate|date:"SHORT_DATE_FORMAT"}}
                        </td>
                    </tr>
                </table>
            </td>            
        </tr>
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #444; border-right:1px solid #999; padding-top: 3px;" width="12%" align="center">
                            <strong>ID</strong>   
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                            {{emp.employeeID}}
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="28%" align="center">
                            <strong>Name</strong>    
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:10px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #444; padding-top: 3px;" width="53%" align="center">
                            {{emp}}  
                        </td>                        
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
           <td>
                <table border="0">
                    <tr>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #444; border-right:1px solid #999; padding-top: 3px;" width="12%" align="center">
                            <strong>Location</strong> 
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                            <strong>Date</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="20%" align="center">
                            <strong>Address</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                            <strong>Regular Time</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                            <strong>Over Time</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                            <strong>Double Time</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                            <strong>Production</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                            <strong>own Vehicle</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                            <strong>on call</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                            <strong>Bonus</strong>
                        </td>
                        <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                            <strong>payroll</strong>
                        </td>
                    </tr>
                    
                    {{ itemHtml | safe }}
                    {{ itemLine | safe }}
                    <!--{% for item in lines %}
                        <tr style=" height: 20px; ">
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #444; border-right:1px solid #999; padding-top: 3px;" width="12%" align="center">
                                {%if item.Location == None %}
                                    &nbsp;
                                {%else%}
                                    {{item.Location}}
                                {%endif%}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                                {{item.date|date:"SHORT_DATE_FORMAT"}}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:7px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="20%" align="center">
                                {{item.address}}
                            </td>
                            <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                                {% if item.rt != 0 %}
                                    ${{item.rt|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                                {% if item.rt != 0 %}
                                    ${{item.ot|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                                {% if item.rt != 0 %}
                                    ${{item.dt|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                                {% if item.production != 0 %}
                                    ${{item.production|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="8%" align="center">
                                {% if item.own_vehicle != 0 %}
                                    ${{item.own_vehicle|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                                {% if item.on_call != 0 and item.on_call != None %}
                                    ${{item.on_call|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; padding-top: 3px;" width="7%" align="center">
                                {% if item.bonus != 0 and item.bonus != None %}
                                    ${{item.bonus|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #999; border-bottom:1px solid #999; border-left:1px solid #999; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                {% if item.payroll != 0 %}
                                    ${{item.payroll|floatformat:"2"|intcomma}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}-->
                    {% if line2 == False %}                    
                        <tr>
                            <td colspan="3" style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:9px; border-top:2px solid #000; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="39%" align="center">
                            <strong>Totals</strong> 
                            </td>
                            <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                <strong>${{rtTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                            <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="7%" align="center">
                                <strong>${{otTotal|floatformat:"2"|intcomma}}</strong>
                            </td>                        
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                <strong>${{dtTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                <strong>${{prodTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                <strong>${{ovTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="7%" align="center">
                                <strong>${{ocTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="7%" align="center">
                                <strong>${{bonTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                            <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                <strong>${{payTotal|floatformat:"2"|intcomma}}</strong>
                            </td>
                        </tr>
                    {%endif%}
                </table>                
           </td>
        </tr>        
      </table>
      {%if line2%}    
    </br>  
    </br>  
    </br>
                    <table border="0">                        
                        <tr>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="12%" align="center">
                                Location
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                Date
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="20%" align="center">
                                Address
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                Regular Time
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                Over Time
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                Double Time
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                Production
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                own Vehicle
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                on call
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                Bonus
                            </td>
                            <td style="background-color: #b4c6e7; font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                payroll
                            </td>
                        </tr>
                    
                        {{ itemHtml2 | safe }}
                        {{ itemLine2 | safe }}
                       <!--{% for item in lines2 %}
                            <tr style=" height: 20px; ">
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="12%" align="center">
                                    {%if item.Location == None %}
                                        &nbsp;
                                    {%else%}
                                        {{item.Location}}
                                    {%endif%}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {{item.date|date:"SHORT_DATE_FORMAT"}}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:7px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="20%" align="center">
                                    {{item.address}}
                                </td>
                                <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.rt != 0 %}
                                        ${{item.rt|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.rt != 0 %}
                                        ${{item.ot|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.rt != 0 %}
                                        ${{item.dt|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.production != 0 %}
                                        ${{item.production|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.own_vehicle != 0 %}
                                        ${{item.own_vehicle|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.on_call != 0 and item.on_call != None %}
                                        ${{item.on_call|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.bonus != 0 and item.bonus != None %}
                                        ${{item.bonus|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:1px solid #444; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    {% if item.payroll != 0 %}
                                        ${{item.payroll|floatformat:"2"|intcomma}}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}-->
                        {% if line2 %}                         
                            <tr>
                                <td colspan="3" style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:9px; border-top:2px solid #000; border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="40%" align="center">
                                <strong>Totals</strong> 
                                </td>
                                <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                   <strong>${{rtTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>
                                <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                   <strong>${{otTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>                        
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    <strong>${{dtTotal|floatformat:"2"|intcomma}}</strong>
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                   <strong>${{prodTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                   <strong>${{ovTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                   <strong>${{ocTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>
                                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px;  border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    <strong>${{bonTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>
                                <td style=" font-family:Verdana, Geneva, sans-serif; font-weight:200; font-size:8px; border-top:2px solid #000;  border-bottom:1px solid #444; border-left:1px solid #444; border-right:1px solid #444; padding-top: 3px;" width="8%" align="center">
                                    <strong>${{payTotal|floatformat:"2"|intcomma}}</strong> 
                                </td>
                            </tr>
                        {%endif%}
                    </table>
                {%endif%}
  </body>
  </html>