{% extends 'index.html' %} 
{%load static%}
{%load humanize%}
{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card rounded">
                    <h6 class="card-header card-header-wc" >Order Details</h6>
                    <div class="card-body">                    
                        <div class="row">                   
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="orderID" class="form-label">Order</label>                                    
                                    <input type="text" name="orderID" id="orderID" class="form-control" value="{{order}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>                                    
                                    <input type="text" name="address" id="address" class="form-control" value="{{order.JobAddress}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="supervisor" class="form-label">Supervisor</label>                                    
                                    <input type="text" name="supervisor" id="supervisor" class="form-control" value="{{order.WCSup}}" disabled>                                                                                                                                               
                                </div>
                            </div>
                        </div>    
                                                                                   
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Location</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Location}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="updatedDate" class="form-label">Updated Date</label>                                                                             
                                    <input type="text" name="updatedDate" id="updatedDate" class="form-control" value="{{order.UploadDate}}" disabled>                                                                       
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label for="Status" class="form-label">Status</label>                                    
                                    {% if order.Status == "1"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Not Started" disabled>                                                                       
                                    {%elif order.Status == "2"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Work in Progress" disabled>
                                    {%elif order.Status == "3"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Docs" disabled>
                                    {%elif order.Status == "4"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Pending Revised WO" disabled>
                                    {%elif order.Status == "5"%}
                                        <input type="text" name="Status" id="Status" class="form-control" value="Invoiced" disabled>
                                    {%endif%}                                                                                                                                            
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Comments</label>                                    
                                    <input type="text" name="location" id="location" class="form-control" value="{{order.Comments}}" disabled>                                                                       
                                </div>
                            </div>                           
                        </div>                                                                                                        
                        <div class="row">
                            <div class="col-sm-11"></div>
                            <div class="col-sm-1">
                                <a href="/billing_list/{{order.id}}" type="button" class="btn btn-danger">Close</a>
                            </div>
                        </div>
                                
                          
                    </div>
                    
                
                </div>  
            </div> 
        </div>
                                             
                        
                            
                <br/>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card rounded">
                            <h6 class="card-header card-header-wc">Estimate # {{estimateID}} Detail</h6>
                                <div class="card-body">                                                                            
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table  class="table table-sm table-striped">
                                                <thead>
                                                    <tr class="table-primary" style="border: none;"> 
                                                        <td colspan="2" class="p-1" style="color:black; font-weight: 600;"><strong>Billing Address</strong> </td> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>
                                                        {{woEstimate.description}} <br>
                                                        {{woEstimate.address}}<br>
                                                        {{woEstimate.city}}, {{woEstimate.state}} {{woEstimate.zipCode}}
                                                    </td>
                                                    <td width="5%" class="p-1"> 
                                                        <br>                                                       
                                                        <a hx-get="/select_billing_address/{{order.id}}/True/{{estimateID}}" hx-target="#dialog"><i class="fa-solid fa-pen-to-square fa-2x" style="color: green;"></i></a>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                                
                                            </table>
                                            
                                            <br>

                                            <table  class="table table-sm table-bordered table-striped">
                                                <thead>
                                                    
                                                    <tr class="table-primary" style="border: none;">                                                    
                                                        
                                                        <td width="40%" colspan="2" class="p-1" style="background-color: white; border: none;">                                                           
                                                        </td>
                                                        <td width="7%" colspan="3" class="p-1" style="text-align: center; font-size: medium; font-weight: 600;" ><strong>Production</strong> </td>                                                              
                                                        <td width="7%" colspan="4" class="p-1" style="text-align: center; font-size: medium; font-weight: 600;"><strong>Authorized Billing</strong></td>
                                                                                                       
                                                    </tr>
                                                    <tr class="table-primary" >                                                    
                                                        
                                                        <td width="40%" colspan="2" class="p-1" style="background-color: white; border: none;"></td>
                                                        <td width="7%" class="p-1" style="color:darkblue; font-weight: 600;">{{totals.qtyP}}</td>
                                                        <td width="7%" class="p-1"></td>
                                                        <td width="10%" class="p-1" style="color:darkblue; font-weight: 600;">${{totals.totalP|floatformat:2|intcomma}}</td>  
                                                        <td width="7%" class="p-1" style="color:orangered; font-weight: 600;">{{totals.qtyA}}</td>
                                                        <td width="7%" class="p-1"></td>
                                                        <td width="10%" class="p-1" colspan="2" style="color:orangered; font-weight: 600;">${{totals.totalA|floatformat:2|intcomma}}</td>
                                                                                                       
                                                    </tr>
                                                    <tr class="table-primary">                                                    
                                                        <td width="7%" class="p-1">Item</td>
                                                        <td width="33%" class="p-1">Description</td>
                                                        <td width="7%" class="p-1">Qty.</td>
                                                        <td width="7%" class="p-1">Rate</td>
                                                        <td width="10%" class="p-1">Total</td>  
                                                        <td width="7%" class="p-1">Qty.</td>
                                                        <td width="7%" class="p-1">Rate</td>
                                                        <td width="10%" class="p-1">Total</td>
                                                        <td width="7%" class="p-1">          
                                                            {%if order.Status == "2" or order.Status == "3" or order.Status == "4" or order.Status == "5"%}
                                                                {% if emp.is_superAdmin  or user.is_staff %}                                     
                                                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Add Item" hx-get="/create_authorized_prod_item/{{order.id}}/0/{{estimateID}}" hx-target="#dialog"><i class="fa-solid fa-circle-plus"></i></a>
                                                                {%endif%}
                                                            {%endif%}
                                                        </td>                                                 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for itemd in itemResume %}
                                                        <tr>
                                                            <td class="p-1">{{itemd.item}}</td>
                                                            <td class="p-1">{{itemd.name}}</td>
                                                            {% if itemd.quantity == None %}
                                                                <td class="p-1" colspan="3" style="text-align: center; font-weight: 600; color: orangered;"> Not Included in Production</td>             
                                                            {%else%}
                                                                <td class="p-1" style="color:darkblue; font-weight: 600;">{{itemd.quantity}}</td>
                                                                <td class="p-1" style="color:darkblue; font-weight: 600;">${{itemd.price|floatformat:2|intcomma}}</td>
                                                                <td class="p-1" style="color:darkblue; font-weight: 600;">${{itemd.amount|floatformat:2|intcomma}}</td>  
                                                            {%endif%}
                                                            {% if itemd.quantityA == None %}
                                                                <td class="p-1"></td>
                                                                <td class="p-1"></td>
                                                                <td class="p-1"></td>   
                                                            {%elif  itemd.quantityA == 0 %}
                                                                <td class="p-1" colspan="3" style="text-align: center; font-weight: 600; color: orangered;"> Not Authorized for Billing</td>
                                                            {%else%}
                                                                <td class="p-1" style="color:darkgreen; font-weight: 600;">{{itemd.quantityA}}</td>
                                                                <td class="p-1" style="color:darkgreen; font-weight: 600;">${{itemd.priceA|floatformat:2|intcomma}}</td>
                                                                <td class="p-1" style="color:darkgreen; font-weight: 600;">${{itemd.amountA|floatformat:2|intcomma}}</td> 
                                                            {%endif%}
                                                            <td class="p-1">  
                                                                
                                                                {%if order.Status == "2" or order.Status == "3" or order.Status == "4" or order.Status == "5"%}     
                                                                    {% if emp.is_superAdmin  or user.is_staff %}                                                                     
                                                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Update Item" hx-get="/update_authorized_prod_item/{{itemd.idA}}/0/{{estimateID}}" hx-target="#dialog"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>
                                                                        {%if  itemd.quantityA > 0 %}
                                                                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Item" hx-get="/delete_authorized_prod_item/{{itemd.idA}}/0/{{estimateID}}" hx-target="#dialog"><i class="fa-solid fa-circle-minus" style="color: red;"></i></a>
                                                                        {%endif%}
                                                                    {%endif%}
                                                                {%endif%}
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="Add Comment" hx-get="/comment_authorized_prod_item/{{itemd.idA}}" hx-target="#dialog"><i class="fa-solid fa-comment" style="color: green;"></i></a>
                                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="Transfer" hx-get="/production_transfer/{{itemd.idA}}/0/{{estimateID}}" hx-target="#dialog"><i class="fa-solid fa-right-left" style="color: green;"></i></a>
                                                            </td> 
                                                        </tr>
                                                    {%endfor%}
                                                </tbody>                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>    
                
            </br>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card rounded">
                            <h6 class="card-header card-header-wc">Internal PO's Included in Estimate</h6>
                                <div class="card-body">                                                                            
                                    <div class="row">
                                        <div class="col-lg-12">                                            
                                            <table id="orders3" class="table table-sm table-bordered table-striped">
                                                <thead class="table-primary">
                                                    <tr>
                                                        <td class="p-1">PO</td>
                                                        <th scope="p-1">Vendor</th>
                                                        <td class="p-1">Supervisor</td>                                                
                                                        <td class="p-1">Pick up Employee</td>
                                                        <td class="p-1">Product</td>    
                                                        <td class="p-1">Quantity</td>
                                                        <td class="p-1">Total</td>  
                                                        <td class="p-1"></td>                                           
                                                    </tr>              
                                                </thead>
                                                <tbody>                                       
                                                    {% for po in internalPOEst %}
                                                        <tr>
                                                            <td>{{po.poNumber}</td>
                                                            <td>{{po.vendor}} - 
                                                                {%for i in vendorList%}
                                                                    {%if po.vendor == i.id%}
                                                                        {{i.name}}                                                    
                                                                    {%endif%}
                                                                {%endfor%}
                                                            </td>
                                                            <td>{{po.supervisor}}</td>
                                                            <td>{{po.pickupEmployee}}</td>
                                                            <td>{{po.product}}</td>
                                                            <td>{{po.quantity}}</td>
                                                            <td>${{po.total|floatformat:2|intcomma}}</td>    
                                                            <td>{% if emp.is_superAdmin  or user.is_staff %}                                     
                                                                
                                                                <a href="/update_po/{{po.id}}/-1"><i class="fa-solid fa-pen-to-square"  style="color: green;"></i></a>
                                                            {%endif%}</td>                                                                                            
                                                        </tr>                                             
                                                    {% endfor %}
                                                    {% if poTotalEst > 0%}
                                                    <tr>
                                                        <td colspan="6"> Total</td>
                                                        
                                                        <td><strong>${{poTotalEst|floatformat:2|intcomma}}</strong></td>
                                                    </tr>
                                                    {%endif%}
                                                </tbody>                              
                                            </table>
                                        </div>
                                        
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div> 


            </br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card rounded">
                        <h6 class="card-header card-header-wc">New Internal PO's to Include in Estimate</h6>
                            <div class="card-body">                                                                            
                                <div class="row">
                                    <div class="col-lg-12">                                            
                                        <table id="orders3" class="table table-sm table-bordered table-striped">
                                            <thead class="table-primary">
                                                <tr>
                                                    <td class="p-1">PO</td>
                                                    <th scope="p-1">Vendor</th>
                                                    <td class="p-1">Supervisor</td>                                                
                                                    <td class="p-1">Pick up Employee</td>
                                                    <td class="p-1">Product</td>    
                                                    <td class="p-1">Quantity</td>
                                                    <td class="p-1">Total</td>  
                                                    <td class="p-1"></td>                                           
                                                </tr>              
                                            </thead>
                                            <tbody>                                       
                                                {% for po in internalPO %}
                                                    <tr>
                                                        <td>{{po.internalPO}}</td>
                                                        <td>{{po.vendor}} - 
                                                            {%for i in vendorList%}
                                                                {%if po.vendor == i.id%}
                                                                    {{i.name}}                                                    
                                                                {%endif%}
                                                            {%endfor%}
                                                        </td>
                                                        <td>{{po.supervisor}}</td>
                                                        <td>{{po.pickupEmployee}}</td>
                                                        <td>{{po.product}}</td>
                                                        <td>{{po.quantity}}</td>
                                                        <td>${{po.total|floatformat:2|intcomma}}</td>    
                                                        <td>{% if emp.is_superAdmin  or user.is_staff %}                                     
                                                            <a hx-get="/add_internalPO_to_estimate/{{po.id}}/{{order.id}}/{{estimateID}}" hx-target="#dialog"><i class="fa-solid fa-circle-plus" style="color: green;"></i></a>
                                                        {%endif%}</td>                                                                                            
                                                    </tr>                                             
                                                {% endfor %}
                                                {% if poTotal > 0%}
                                                <tr>
                                                    <td colspan="6"> Total</td>
                                                    
                                                    <td><strong>${{poTotal|floatformat:2|intcomma}}</strong></td>
                                                </tr>
                                                {%endif%}
                                            </tbody>                              
                                        </table>
                                    </div>
                                    
                                </div> 
                            </div>
                    </div>
                </div>
            </div> 
                        
          
             
    </form>
    <script>
        let destQty;
        let originQty;
    </script>
</div>
{% endblock %}