{% extends 'base.html' %} 
{%load static%}
{% block title %} Order List {% endblock %} 
{% load humanize %}
{% block container %}
{% load widget_tweaks%}

<div class="container">
    <form method='post' action="{{request.path}}" class="modal-content" id="daily_item">
        {% csrf_token %}

        <div class="modal-header">
            <h5>Items</h5>           
        </div>              
       
        <div class="modal-body">
            <div class="row" id="items" style="display: none;">            
                <table id="orders" class="table table-sm table-bordered table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col" style="width: 75%">Item</th>                                                        
                            <th scope="col" style="width: 10%">Price</th>
                            <th scope="col" style="width: 10%">Emp. Payout</th>                            
                            <th scope="col" style="width: 5%"></th>
                        </tr>              
                    </thead>
                    <tbody>                                       
                        {% for item in itemList %}
                            <tr>
                                <td style="width: 75%">{{item.item}}</td>                               
                                <td style="width: 10%">{{item.price|floatformat:"2"}}</td>
                                <td style="width: 10%">{{item.emp_payout}}</td>                               
                                <!--<td style="width: 5%"> <a href="/update_item_price/{{item.id}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a></td>-->
                                <td> 
                                    {%if item.emp_payout != None%}
                                        <a href="#" onclick="selectItem({{item.id}},'{{item}}')"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>
                                    {%endif%}
                                </td>
                               
                            </tr>                                             
                        {% endfor %}
                    </tbody>                              
                </table>
            </div>
            <script>
                function selectItem(item, itemName)
                {
                    console.log("Se Selecciono un item" + item);

                    var element = document.getElementById("items");
                    element.style.display = "none";

                    var element2 = document.getElementById("forma");
                    element2.style.display = "block";

                    var element3 = document.getElementById("itemID");
                    element3.value = item    
                    
                    var element4 = document.getElementById("itemName");
                    element4.value = itemName    

                }

                $("#orders").DataTable();  
            </script>
            <div id="forma" style="display: block;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="{{ form.DailyID.id_for_label }}" class="form-label">Selected Daily</label>
                            <input type="text" name="DailyID" id="DailyID" class="form-control" disabled>
                            <div class="invalid-feedback">{{ form.DailyID.errors|first }}</div>
                        </div>
                    </div>                
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="itemName" class="form-label">Item</label>                        
                            <input type="text" name="itemName" id="itemName" class="form-control" value="{{itemSelected}}" disabled>                                                
                            <input type="hidden" name="itemID" id="itemID" value="{{itemSelected.id}}">
                        </div>
                    </div>                                   
                </div>  
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="{{ form.quantity.id_for_label }}" class="form-label">Quantity</label>
                            {% render_field form.quantity class="form-control" %}
                            <div class="invalid-feedback">{{ form.quantity.errors|first }}</div>
                        </div>
                    </div> 
                </div>              
            </div>            
        </div>
        
        <div class="modal-footer">          
            <button type="submit" class="btn btn-primary" form="daily_item">Save</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> 
        </div>
   
    </form>
</div>
{% endblock %}