{% extends 'base.html' %} 
{%load static%}
{% block title %} Order List {% endblock %} 
{% load humanize %}
{% block container %}
{% load widget_tweaks%}

<div class="container">
    <form method='post' action="{{request.path}}" class="modal-content" id="daily_emp">
        {% csrf_token %}

        <div class="modal-header">
            <h5>Adjust Estimate</h5>           
        </div>              
       
        <div class="modal-body">             
            <div class="row">
                <!-- Using the formset-->
              {{ form.as_p }} 
          </div>
        </div>

        
        
        <div class="modal-footer">   
            <input class="btn btn-primary" type="submit" value="Save">       
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button> 
        </div>
   
    </form>
</div>
{% endblock %}